.button {
    display: inline-block;
    font-weight: 400;
    color: var(--accent-fg);
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: var(--accent-bg);
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: default;

    &:disabled,&.disabled {
        background-color: lightgrey;
    }

    &:not(:disabled):not(.disabled) {
        cursor: pointer;

        &:hover {
            background-color: var(--hover-bg);
            color: var(--hover-fg);
        }
    }
}