@import "./scrollbar";
@import "./layout";
@import "./typography";
@import "./buttons";
@import "./context";
@import "./tiles";
@import "./notification";
@import "./modal";

@import "./Outputs";
@import "./Patch";

@font-face {
    font-family: "Fira-Mono";
    src: url("../assets/fonts/FiraMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: monospace;
}
:root {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, system-ui, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --main-fg: #c4c4c4;
    --main-bg: #252525;

    --hover-fg: #dddddd;
    --hover-bg: #434343;

    --accent-bg: #4d0044;
    --accent-fg: #aeaeae;

    --feather-size: 16px;

    --sidebar-width: 20vw;

    --sidebar-toggle-padding: 1vw;
    --sidebar-toggle-margin: 1.5vw;

    --commandLine-height: 4vh;
    --commandLine-margin: 1vh;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, system-ui, "Helvetica Neue", Arial, "Noto Sans",
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.875rem;
    overflow: hidden;

    color: var(--main-fg);
    background-color: var(--main-bg);
}
